
h1{
    text-align: center;
    font-family:  'Josefin Sans',sans-serif;
    padding-top: 10px;
    font-weight: 300;
    padding-bottom:10px;
}
.navbar-header {
    float: left;
    
}
.navbar-default{
    background-color: #ffffff;
}
.navbar-nav {
    margin-left: -15px;
}
.navbar-nav .navbar-collapse{
    text-align: center;
    float:  none;
    
}

.navbar-collapse {
  text-align:center;
  margin: none;
}
.navbar-nav {
    display:inline-block;
    float:none;
}
.column {
    position: relative;
    padding-top: 5px;
  float: left; }


.size-1of3 { width: 33.3333%; }

.containter {
    margin-top: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.portfolio {
    padding:10px;
}

#grid img:hover {
    color: #000000;
    opacity: .5;
}
.modal-content {
    background-color: #f8f8f8;
    font-family: 'Josefin Sans'
}
.modal-body h2 {
    padding-bottom: 60px;
    font-weight: 300;
}   

.btn-default {
    margin-top: 45px;
}

@media (min-width: 768px) {
.container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
    margin-left:1px;
    margin-right:1px;

    }